img{
    margin-right: 30px;
}
.mail-form{
    margin-top: 30px;
    padding-top: 20px;
}
.msg{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    letter-spacing: 0.2rem;
    font-style: italic;
    display: none;
}
.msgAppear{
    display: block;
}