.container{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.recipes-title:hover{
  color: #DE6262;
  text-decoration: none;
}
.rec-detail-div{
  margin:50px;
}
.recipe-list{
  display: flex;
  justify-content: center;
}
.recipe-card{
  margin: 20px;
  display: flex;
  flex-direction: column;
  width:300px;
  border: 1px solid black;
}
.btn-grad {background-image: linear-gradient(to right, #DE6262 0%, #FFB88C  51%, #DE6262  100%)}
.btn-grad {
   margin: 15px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.3s;
   background-size: 200% auto;
   color: white;     
   border-radius: 45px;  
   border: 0px;     
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
 .main-recipelist{
  margin: 3vw;
 }
 .hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-filter: grayscale(100%) blur(3px);
	filter: grayscale(100%);
}
