.App {
  text-align: center;
  font-family: 'Chonburi', cursive;
}
/* @font-face{
  font-family: 'Chonburi', cursive;
  src: url('https://fonts.googleapis.com/css2?family=Chonburi&display=swap');
}
@font-face{
  font-family: 'Tenor Sans Chonburi', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
  font-weight: 500;
} */
p{
  font-family: 'Tenor Sans Chonburi', sans-serif;
}
a{
  text-decoration: none;
  color: #3c7382;
}
ul{
    margin: 0;
    padding: 0;
}
li{
  list-style-type: none;
}
.nav-title{
  font-size: 2.5rem;
}
.title{
  font-size: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
